{% extends 'Dino/layout.html' %}
{% block body %}
<div class="quiz">
    <form action="{% url 'create' %}" method="POST">
        <input type="text" placeholder="Quiz Name" class="name"><br><br>
        <div class="question">
        <input type="text" placeholder="question"><br><br>
        <label for="type">Type:</label>
        <select class="type" name="type" id="type1">
            <option value="select">Multiple Choices</option>
            <option value="text">Paragraph</option>
        </select><br><br>

        <textarea id="text1" placeholder="Answer" display="none"></textarea><br>

        <div class="options1" display="none">
        <input type="text" class="option1" placeholder="Answer1"><br><br>
        <input type="text" class="option2" placeholder="Answer2"><br><br>
        <input type="text" class="option3" placeholder="Answer3"><br><br>
        <input type="text" class="option4" placeholder="Answer4"><br><br>
        </div>
        </div>
        <button type="button" class="btn btn-primary">Create question</button>
    </form> 
</div>
{% endblock %}