{% extends 'Dino/layout.html' %}
{% block body %}
<br><br><br>
    <div class="quiz" style="text-align:center;"><br>
        <form action="{% url 'create_question' id %}" method="POST">
            {% csrf_token %}
                <h3>Question</h3>
            <input type="text" placeholder="Question" name="question"><br><br>
            
            <div class="options" style="display:block;">
            <input type="text" class="optionA" placeholder="Answer A" name="optionA">
            <input type="checkbox" value="1">
            <br><br>
            <input type="text" class="optionB" placeholder="Answer B" name="optionB">
            <input type="checkbox" value="2">
            <br><br>
            <input type="text" class="optionC" placeholder="Answer C" name="optionC">
            <input type="checkbox" value="3">
            <br><br>
            <input type="text" class="optionD" placeholder="Answer D" name="optionD">
            <input type="checkbox" value="4">
            <br><br>
            <input type="number" name="point" placeholder="point">
            <input type="hidden" value="" name="correct">
            </div>
            <button type="submit" class="btn btn-primary add">Create question</button><br>
        </form> 
    </div>
{% endblock %}