{% extends 'Dino/layout.html' %}
{% block body %}
<br><br><br>
    <div class="quiz" style="text-align:center;"><br>
        <form action="{% url 'create_question' id %}" method="POST">
            {% csrf_token %}
                <h3>Question</h3>
            <input type="text" placeholder="Question" name="question" autofocus required><br><br>
            
            <div class="options" style="display:block;">
            {% for i in a %}
            <input type="text" class="option{{i}} " placeholder="Answer{{i}}" name="option{{i}}" required>
            
            <input type="radio" value="{{i}}" class="form-check-input choice" name="exampleRadios" id="exampleRadios1" checked>
            <br><br>
            {% endfor %}
            <input type="number" name="point" placeholder="point" required>
            <input type="hidden" value="4" name="correct" class="correctID">
            </div>
            <button type="submit" class="btn btn-primary add">Create question</button><br>
        </form><br>
    </div>
    <script>
        document.querySelectorAll("input.choice").forEach(element => {
        element.addEventListener('click', function() {
            document.querySelector('input.correctID').value = element.value
        })
    })
    </script>
{% endblock %}