{% extends 'Dino/layout.html' %}
{% block body %}
<br><br><br>
    <div class="quiz" style="text-align:center;"><br>
        <form action="{% url 'create_question' id %}" method="POST">
            {% csrf_token %}
                <h3>Question</h3>
            <input type="text" placeholder="Question" name="question" autofocus><br><br>
            
            <div class="options" style="display:block;">
            {% for i in a %}
            <input type="text" class="option{{i|add:1}}" placeholder="Answer{{i|add:1}}" name="option{{i|add:1}}">
            <input type="checkbox" value="{{i|add:1}}" class="choice">
            <br><br>
            {% endfor %}
            <input type="number" name="point" placeholder="point">
            <input type="hidden" value="" name="correct" class="correctID">
            </div>
            <button type="submit" class="btn btn-primary add">Create question</button><br>
        </form> 
    </div>
    <script>
        document.querySelectorAll("input.choice").forEach(element => {
        element.addEventListener('click', function() {
            document.querySelector('input.correctID').value = element.value
        })
    })
    </script>
{% endblock %}