{% extends 'Dino/layout.html' %}
{% block body %}
{% if request.user == quiz.owner %}
<form action="{% url 'edit_quiz' quiz.id %}" method="POST" class="edit_name">
    {% csrf_token %}
    <input type="text" name="name" value="{{quiz.name}}">
</form><br>
<h3>{{quiz.name}}</h3>
<a href="#"><i class="fa-solid fa-pen edit_quiz_name"></i></a>
<div>
{% for question in questions %}
<div class="question quiz">
Question {{forloop.counter}} : {{question.title}}
<a href="{% url 'edit_question' quiz.id question.id%}"><i class="fa-solid fa-pen edit_quiz_name"></i></a>
<form action="{% url 'edit_quiz' quiz.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{question.id}}" name="question_id">
    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
</form>
</div>
{% endfor %}
<a href="{% url 'create_question' quiz.id %}">
    <i class="fa-solid fa-plus"></i></a>
</div>
{% else %} 
<div class="alert alert-danger">Quiz not found</div>
{% endif %}
<script>
    document.querySelector('.edit_name').style.display = 'none'
    document.querySelector('.edit_quiz_name').addEventListener('click', function() {
        document.querySelector('form').style.display = 'block';
        document.querySelector('h3').style.display = 'none'
    })  
</script>
{% endblock %}