{% extends 'Dino/layout.html' %}
{% block body %}
    <div class="quiz"><br>
        <form action="{% url 'edit_question' quiz.id question.id %}" method="POST">
            {% csrf_token %}
                <h3>Question</h3>
            <input type="text" placeholder="Question" name="question"  value="{{question.title}}"><br><br>
    
            <div class="options" style="display:block;">
            <input type="text" class="optionA" placeholder="Answer A" name="optionA" value="{{choices.0.choice}}">
            <input type="checkbox" value="">
            <br><br>
            <input type="text" class="optionB" placeholder="Answer B" name="optionB" value="{{choices.1.choice}}">
            <input type="checkbox" value="">
            <br><br>
            <input type="text" class="optionC" placeholder="Answer C" name="optionC" value="{{choices.2.choice}}">
            <input type="checkbox" value="">
            <br><br>
            <input type="text" class="optionD" placeholder="Answer D" value="{{choices.3.choice}}">
            <input type="checkbox" value="">
            <br><br>
            <input type="number" name="point" placeholder="point" value="{{question.point}}">
            <input type="hidden" value="" name="correct">
            </div>
            <button type="submit" class="btn btn-primary add">Save</button><br>
        </form> 
    </div>
{% endblock %}