{% extends 'Dino/layout.html' %}
{% block body %}
    <div class="quiz"><br>
        <form action="{% url 'edit_question' quiz.id question.id %}" method="POST">
            {% csrf_token %}
                <h3>Question</h3>
            <input type="text" placeholder="Question" name="question"  value="{{question.title}}"><br><br>
    
            <div class="options" style="display:block;">
                {% for choice in choices %}
                <input type="text" value="{{choice.choice}}" name="option{{forloop.counter}}" class="option{{forloop.counter}}" required>
                {% if choice.true %}
                    <input class="form-check-input choice" type="radio" name="exampleRadios" id="exampleRadios1" value="{{forloop.counter0}}" checked>
                {% else %}
                    <input class="form-check-input choice" type="radio" name="exampleRadios" id="exampleRadios1" value="{{forloop.counter0}}" required>
                {% endif %}
                <br><br>
                {% endfor %}
            <br><br>
            <input type="number" name="point" placeholder="point" value="{{question.point}}">
            <input type="hidden" value="" name="correct" class="correctID">
            </div>
            <button type="submit" class="btn btn-primary add">Save</button><br>
        </form> <Br>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('.correctID').value = document.querySelector('input[checked]').value
        })
        document.querySelectorAll("input.choice").forEach(element => {
        element.addEventListener('click', function() {
            document.querySelector('input.correctID').value = element.value
        })
    }) 
    </script>
{% endblock %}