{% extends 'Dino/layout.html' %}
{% block body %}
<div class="playing-quiz">
    <form action="{% url 'play' quiz.id id %}" method="POST">
        {% csrf_token %}
        <h2>{{question.title}}</h2>
            {% for choice in choices %}
                <input class="form-check-input answer" type="radio" name="exampleRadios" id="exampleRadios1" value="{{forloop.counter}}" checked>
                <label class="form-check-label answer" for="exampleRadios1">
                  {{choice.choice}}
                </label>
                <br>
            {% endfor %}
            <input type="hidden" value="3" name="answer">
            <input type="hidden" value="{{question.point}}" name="point"/>
        <button type="submit" class="btn btn-primary next">Next question</button>
    </form><br>

</div>
<script>
    document.querySelectorAll('.answer').forEach(element => {
        element.addEventListener("click", () => {
            document.querySelector("input[name='answer']").value = element.value
        })
    })
</script>
{% endblock %}