$color1:#F0EBE3;
$color2:#E4DCCF;
$color3:#7D9D9C;
$color4:#576F72;
* {
    font-weight: 550;
}
.body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin:auto;
    margin-top: auto;
    margin-left: 10px;
    h1 {
    font-family: 'Exo 2', sans-serif;
    }
}
div{
    text-align: center;
    margin: auto;
    border-radius: 4px;
    border: none;
    size: auto; 
    flex-direction: column;
    flex: auto;
    flex-wrap: wrap;
}
textarea {
    margin: auto;
    border-radius: 4px;
    border: none;
    size: auto;
    text-align: center;
}
input[name="name"] {
    border-radius: 7px;
    text-align: center;
    height: 40px;
    width: 40%;
    outline: none;
    border-width: 2px;
}
.quiz, .playing-quiz {
    background-color : $color2;
    width:600px;
    height: auto;
    padding:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-wrap: wrap;
}
button {
    text-align: center;
}
input:hover , input[type="checkbox"]:hover{
    background-color: #ffffff;
}
div {
    font-size: large;
    margin-bottom: 15px;
}  
i {
    margin-top: 13px;
    margin-left: 10px;
    color:  $color4
}
ul.nav , .nav-bar{
    width: 500px;
    text-align: center;
    background-color: $color3;
}
.nav-bar {
    .nav-item {
        .nav-link, i {
        color:white;
        }
    }
}
button.btn,button.btn-primary, button.btn:hover, button.btn-primary[disabled] {
    background-color: $color3;
    border-color: $color3;
    outline:none;
}
a button.btn {
    color:white;
}
.checkbox {
    align-items: center;
    width: 80%;
    padding: 12px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    display: flex;
    input.answer{
        width: 40px;
        height: 20px;
    }
}