body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin:auto;
    margin-top: auto;
}
div{
    text-align: center;
    margin: auto;
    border-radius: 4px;
    border: none;
    size: auto;
}
textarea {
    margin: auto;
    border-radius: 4px;
    border: none;
    size: auto;
    text-align: center;
}
input, select, select > option {
    border-radius: 4px;
    border: none;
    padding:7px;
    outline:none;
}
.quiz {
    background-color : #b7e2e7;
    width:600px;
    height: auto;
    padding:10px
}
button {
    text-align: center;
}
input:hover , input[type="checkbox"]:hover{
    background-color: #f3f3f3;
}
div {
    font-size: large;
    margin-bottom: 10px;
}
input {
    background-color: #f5f5f5;
}   
i {
    margin-top: 13px;
}